<footer class="footer">
  <div class="footer-inner">
    <nav class="footer-nav">
      <div class="footer-nav-column">
        <h3 class="footer-nav-title">Products</h3>
        <ul class="footer-nav-list">
          <li><a href="https://allofthehouse.com/taters/">Taters</a></li>
          <li><a href="https://allofthehouse.com/eventsat/">Events@</a></li>
        </ul>
      </div>
      <div class="footer-nav-column">
        <h3 class="footer-nav-title">Company</h3>
        <ul class="footer-nav-list">
          <li><a href="https://allofthehouse.com/">The Company</a></li>
          {{!-- <li><a href="#">News &amp; Media</a></li>
          <li><a href="#">Clients &amp; Awards</a></li>
          <li><a href="#">Blog</a></li> --}}
        </ul>
      </div>
      <div class="footer-nav-column">
        <h3 class="footer-nav-title">Resources</h3>
        <ul class="footer-nav-list">
          <li>{{#link 'help_center'}}Help Center{{/link}}</li>
          <li><a href="https://app.allofthehouse.com/">Get Started</a></li>
        </ul>
      </div>
      <div class="footer-nav-column">
        <h3 class="footer-nav-title">Contact</h3>
        <ul class="footer-nav-list">
          <li><i class="fas fa-paper-plane" style="color: #122034;"></i> {{#link 'new_request'}}Submit a
            request{{/link}}
          </li>
          <li><i class="fab fa-twitter" style="color: #122034;"></i> <a
              href="https://twitter.com/allofthehouse">@AlloftheHouse</a></li>
        </ul>
      </div>
    </nav>
    <div class="footer-bottom">
      <div class="footer-bottom-copyright">©2020 All of the House, Inc.</div>
      <div class="footer-bottom-social">
        <a href="https://twitter.com/allofthehouse" target="_blank" rel="noopener" aria-label="Twitter"><i
            class="fab fa-twitter"></i></a>
        <a href="https://www.linkedin.com/company/allofthehouse/" target="_blank" rel="noopener"
          aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
        {{!-- <a href="#" target="_blank" rel="noopener" aria-label="Youtube"><i
            class="fab fa-youtube"></i></a> --}}
        <a href="https://www.facebook.com/getallofthehouse" target="_blank" rel="noopener" aria-label="Facebook"><i
            class="fab fa-facebook-f"></i></a>
      </div>
      {{#if alternative_locales}}
      <div class="footer-bottom-language-selector">
        <div class="dropdown language-selector" aria-haspopup="true">
          <a class="dropdown-toggle">
            {{current_locale.name}}
          </a>
          <span class="dropdown-menu dropdown-menu-end" role="menu">
            {{#each alternative_locales}}
            <a href="{{url}}" dir="{{direction}}" rel="nofollow" role="menuitem">
              {{name}}
            </a>
            {{/each}}
          </span>
        </div>
      </div>
      {{/if}}
    </div>
  </div>
</footer>
