<footer class="footer">
  <div class="footer-inner">
    <nav class="footer-nav">
      <div class="footer-nav-column">
        <h3 class="footer-nav-title">Products</h3>
        <ul class="footer-nav-list">
          <li><a href="https://www.evoko.se/products/evoko-naso/">Evoko Naso</a></li>
          <li><a href="https://www.evoko.se/products/evoko-pusco/">Evoko Pusco</a></li>
          <li><a href="https://www.evoko.se/products/evoko-liso/">Evoko Liso</a></li>
          <li><a href="https://www.evoko.se/products/evoko-minto/">Evoko Minto</a></li>
          <li><a href="https://www.evoko.se/products/evoko-groupie/">Evoko Groupie</a></li>
          <li><a href="https://www.evoko.se/products/evoko-room-manager/">Evoko Room Manager</a></li>
        </ul>
      </div>
      <div class="footer-nav-column">
        <h3 class="footer-nav-title">Company</h3>
        <ul class="footer-nav-list">
          <li><a href="https://www.evoko.se/the-company/">The Company</a></li>
          <li><a href="https://www.evoko.se/news-media/">News &amp; Media</a></li>
          <li><a href="https://www.evoko.se/references-awards/">Clients &amp; Awards</a></li>
          <li><a href="https://www.evoko.se/blog">Blog</a></li>
        </ul>
      </div>
      <div class="footer-nav-column">
        <h3 class="footer-nav-title">Resources</h3>
        <ul class="footer-nav-list">
          <li>{{#link 'help_center'}}Help Center{{/link}}</li>
          <li><a href="https://www.evoko.se/downloads/">Downloads</a></li>
          <li><a href="https://download-liso.evoko.se/" target="_blank" rel="noopener">Evoko Liso Download page</a></li>
          <li><a href="https://www.youtube.com/channel/UCCkVMPEbjkrqZIg5N_nrI0A" target="_blank" rel="noopener">Support
              Youtube Channel</a></li>
          <li><a href="https://www.evoko.se/how-to-buy/">How To Buy</a></li>
        </ul>
      </div>
      <div class="footer-nav-column">
        <h3 class="footer-nav-title">Contact</h3>
        <ul class="footer-nav-list">
          <li><i class="fas fa-paper-plane" style="color: #74BF95;"></i> {{#link 'new_request'}}Submit a
            request{{/link}}
          </li>
          <li><i class="fab fa-twitter" style="color: #74BF95;"></i> <a
              href="https://twitter.com/EvokoSupport">@EvokoSupport</a></li>
        </ul>
      </div>
    </nav>
    <div class="footer-bottom">
      <div class="footer-bottom-copyright">©2020 Evoko Unlimited AB</div>
      <div class="footer-bottom-social">
        <a href="https://twitter.com/Evoko" target="_blank" rel="noopener" aria-label="Twitter"><i
            class="fab fa-twitter"></i></a>
        <a href="https://www.linkedin.com/company/evoko-unlimited" target="_blank" rel="noopener"
          aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
        <a href="http://www.youtube.com/user/EvokoUnlimited" target="_blank" rel="noopener" aria-label="Youtube"><i
            class="fab fa-youtube"></i></a>
        <a href="https://www.facebook.com/Evoko-247614725936414/" target="_blank" rel="noopener"
          aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
      </div>
      {{#if alternative_locales}}
      <div class="footer-bottom-language-selector">
        <div class="dropdown language-selector" aria-haspopup="true">
          <a class="dropdown-toggle">
            {{current_locale.name}}
          </a>
          <span class="dropdown-menu dropdown-menu-end" role="menu">
            {{#each alternative_locales}}
            <a href="{{url}}" dir="{{direction}}" rel="nofollow" role="menuitem">
              {{name}}
            </a>
            {{/each}}
          </span>
        </div>
      </div>
      {{/if}}
    </div>
  </div>
</footer>