<header class="header">
  <div class="header-logo-wrapper">
    <div class="header-logo-image">
      <a href="https://help.allofthehouse.com" title="Support | All of the House">
        {{!-- full logo for desktop --}}
        <svg class="aoh-logo-full" id="aoh-logo-full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 600 75">
          <defs>
            <style>
              .cls-1,
              .cls-2 {
                fill: #f4146b;
              }

              .cls-2 {
                fill-rule: evenodd;
              }
            </style>
          </defs>
          <g id="Type">
            <path class="cls-1"
              d="M131.418,56.249h-19.8l-2.946,9.318H98.188l18.088-51.386h10.552l18.088,51.386H134.433Zm-17.06-8.633h14.32l-6.852-21.651h-.548Z" />
            <path class="cls-1" d="M145.805,14.181h9.729V65.567h-9.729Z" />
            <path class="cls-1" d="M159.508,14.181h9.729V65.567h-9.729Z" />
            <path class="cls-1"
              d="M208.358,66.732c-11.716,0-22.268-8.975-22.268-21.034,0-11.991,10.552-20.966,22.268-20.966,11.785,0,22.268,8.975,22.268,20.966C230.626,57.757,220.143,66.732,208.358,66.732Zm0-33.23a12.23,12.23,0,1,0,12.127,12.2A12.253,12.253,0,0,0,208.358,33.5Z" />
            <path class="cls-1"
              d="M231.173,25.9h3.7v-2.81c0-6.234,5.07-10.482,11.442-10.482a15.359,15.359,0,0,1,6.509,1.507l-2.4,7.331a4.8,4.8,0,0,0-2.535-.548A3.2,3.2,0,0,0,244.6,23.91V25.9h6.715v7.947H244.6V65.567h-9.729V33.844h-3.7Z" />
            <path class="cls-1"
              d="M266.183,25.9h3.631V16.921h9.73V25.9h6.783v7.947h-6.783v21.24a3.2,3.2,0,0,0,3.288,3.015,4.8,4.8,0,0,0,2.536-.548l1.918,7.674a16.5,16.5,0,0,1-7.194,1.507c-6.1,0-10.278-4.248-10.278-10.483v-22.4h-3.631Z" />
            <path class="cls-1"
              d="M288.245,65.567V14.181h9.729v17.06h.206a13.145,13.145,0,0,1,11.373-6.509c9.25,0,15.348,6.783,15.348,16.855v23.98h-9.729V42.272a8.6,8.6,0,1,0-17.2,0V65.567Z" />
            <path class="cls-1"
              d="M369.915,50.083H337.987a11.788,11.788,0,0,0,11.168,8.153c4.453,0,8.975-2.329,11.031-5.755l6.646,5.824a22.441,22.441,0,0,1-17.677,8.427c-11.922,0-21.651-9.044-21.651-21.034s9.729-20.966,21.651-20.966A21.085,21.085,0,0,1,370.463,45.7,19.2,19.2,0,0,1,369.915,50.083Zm-9.866-8.222a11.226,11.226,0,0,0-10.894-8.77,11.518,11.518,0,0,0-11.1,8.77Z" />
            <path class="cls-1"
              d="M417.943,65.567V44.122h-20.9V65.567h-9.729v-51.8h9.729V35.489h20.9V13.764h9.728v51.8Z" />
            <path class="cls-1"
              d="M452.542,66.732c-11.716,0-22.267-8.975-22.267-21.034,0-11.991,10.551-20.966,22.267-20.966,11.785,0,22.268,8.975,22.268,20.966C474.81,57.757,464.327,66.732,452.542,66.732Zm0-33.23A12.23,12.23,0,1,0,464.67,45.7,12.253,12.253,0,0,0,452.542,33.5Z" />
            <path class="cls-1"
              d="M514.206,25.9v39.67h-9.73v-6.1h-.137a12.651,12.651,0,0,1-11.51,7.263c-9.113,0-15.417-6.92-15.417-16.855V25.9h9.73v23.3a8.668,8.668,0,1,0,17.334,0V25.9Z" />
            <path class="cls-1"
              d="M540.789,54.262c0-8.7-23.158.411-23.158-17.4,0-7.674,6.44-12.2,15.964-12.2a28.376,28.376,0,0,1,15.827,4.659l-4.248,7.332C542.5,34.6,537.843,33.3,533.6,33.3s-6.1,1.508-6.1,3.563c0,8.427,23.3-.891,23.3,17.4,0,8.154-7.879,12.47-17.2,12.47a30.815,30.815,0,0,1-16.786-4.659l4.727-7.743c2.878,2.125,7.263,3.5,12.059,3.769C537.98,58.373,540.789,56.729,540.789,54.262Z" />
            <path class="cls-1"
              d="M594.436,50.083H562.507a11.789,11.789,0,0,0,11.169,8.153c4.453,0,8.975-2.329,11.03-5.755l6.646,5.824a22.438,22.438,0,0,1-17.676,8.427c-11.923,0-21.651-9.044-21.651-21.034s9.728-20.966,21.651-20.966A21.085,21.085,0,0,1,594.984,45.7,19.251,19.251,0,0,1,594.436,50.083Zm-9.867-8.222a11.226,11.226,0,0,0-10.893-8.77,11.518,11.518,0,0,0-11.1,8.77Z" />
          </g>
          <g id="Logo-2" data-name="Logo">
            <polygon class="cls-2"
              points="53.296 59.958 53.296 28.243 28.271 28.243 28.271 9.9 9.932 9.9 9.932 64.924 28.271 64.924 28.271 56.514 33.237 56.514 33.237 69.891 4.966 69.891 4.966 4.934 33.237 4.934 33.237 23.277 53.296 23.277 56.544 23.277 58.263 23.277 58.263 59.958 53.296 59.958 53.296 59.958" />
            <polygon class="cls-2"
              points="28.271 34.929 46.61 34.929 46.61 39.895 28.271 39.895 28.271 34.929 28.271 34.929" />
            <polygon class="cls-2"
              points="21.585 14.866 21.585 46.582 46.61 46.582 46.61 64.924 64.95 64.924 64.95 9.9 46.61 9.9 46.61 18.31 41.644 18.31 41.644 4.934 69.916 4.934 69.916 69.891 41.644 69.891 41.644 51.548 21.585 51.548 18.161 51.548 16.619 51.548 16.619 14.866 21.585 14.866 21.585 14.866" />
          </g>
          <rect id="Circle" x="50.093" y="50.482" width="11.386" height="11.386" rx="5.693" />
          <path class="cls-1"
            d="M590.827,22.252a4.224,4.224,0,1,1,4.205-4.241A4.254,4.254,0,0,1,590.827,22.252Zm0-7.952a3.729,3.729,0,1,0,3.676,3.711A3.688,3.688,0,0,0,590.827,14.3Zm1.166,6.361L591,18.682h-1.167v1.979h-.954V15.254h2.438a1.736,1.736,0,0,1,1.767,1.7,1.786,1.786,0,0,1-1.059,1.626l1.059,2.084Zm-.672-2.933a.733.733,0,0,0,.742-.777.7.7,0,0,0-.742-.707h-1.484v1.484Z" />
        </svg>
        {{!-- favicon for mobile --}}
        <svg class="aoh-logo-fav" id="aoh-logo-fav" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 75 75">
          <defs>
            <style>
              .cls-1 {
                fill-rule: evenodd;
              }

              .cls-2 {
                fill: #f4146b;
              }
            </style>
          </defs>
          <g id="Logo-2" data-name="Logo">
            <polygon class="cls-1"
              points="53.296 59.991 53.296 28.275 28.271 28.275 28.271 9.932 9.932 9.932 9.932 64.957 28.271 64.957 28.271 56.546 33.237 56.546 33.237 69.923 4.966 69.923 4.966 4.966 33.237 4.966 33.237 23.309 53.296 23.309 56.544 23.309 58.263 23.309 58.263 59.991 53.296 59.991 53.296 59.991" />
            <polygon class="cls-1"
              points="28.271 34.961 46.61 34.961 46.61 39.927 28.271 39.927 28.271 34.961 28.271 34.961" />
            <polygon class="cls-1"
              points="21.585 14.898 21.585 46.614 46.61 46.614 46.61 64.957 64.95 64.957 64.95 9.932 46.61 9.932 46.61 18.343 41.644 18.343 41.644 4.966 69.916 4.966 69.916 69.923 41.644 69.923 41.644 51.58 21.585 51.58 18.161 51.58 16.619 51.58 16.619 14.898 21.585 14.898 21.585 14.898" />
          </g>
          <rect id="Circle" class="cls-2" x="50.093" y="50.514" width="11.386" height="11.386" rx="5.693" />
        </svg>
      </a>
    </div>
    <div class="header-logo-title">
      <a href="/hc/en-us" title="All of the House support">support</a>
    </div>
  </div>
  <div class="nav-wrapper">
    <span class="icon-menu" tabindex="0" role="button" aria-controls="user-nav" aria-expanded="false"
      aria-label="{{t 'toggle_navigation'}}"></span>
    <nav class="user-nav" id="user-nav">
      {{link 'community' class='community-link'}}
      {{link 'new_request' class='submit-a-request'}}
    </nav>
    {{user_info}}
  </div>
</header>
