/***** Category pages *****/
.category {
  &-container {
    display: flex;
    justify-content: flex-end;
  }

  &-content {
    @include desktop {
      flex: 0 0 100%;
    }

    flex: 1;
  }
}

.section-tree {
  @include tablet {
    flex-direction: row;
  }
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;

  .section {
    @include tablet {
      flex: 0 0 45%; /* Two columns for tablet and desktop. Leaving 5% separation between columns */
    }
    flex: initial;
  }

  &-title {
    margin-bottom: 0px;
    padding-bottom: 6px;
    font-size: 22px;
    font-weight: $font-weight-semibold;

    a {
      color: $text_color;
    }
  }
}

.article-list {
  list-style: disc;
  padding: 0 20px;
  margin: 0px 0 16px 12px;
  border-top: 1px solid $border_color;

  &-item {
    font-size: $font-size-bigger;
    padding: 8px 0;

    &:first-child {
      margin-top: 8px;
    }

    a {
      color: $text_color;
    }

    .icon-lock::before {
      vertical-align: baseline;
    }
  }
}

.see-all-articles {
  padding: 6px 12px;
  border-radius: $border-radius;
  background-color: rgba(lighten($brand-blue-color, 20%), 0.7);
  color: $text_color;
}

.article-promoted {
  list-style: none;
}

.icon-star::before {
  margin-left: -25px;
  margin-right: 2px;
}
