/***** Header *****/
.header {
  position: relative;
  width: 100%;
  align-items: center;
  display: flex;
  height: $header-height;
  justify-content: space-between;
  z-index: 3;
  padding: 0 5%;
  background-color: $text_color;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px -1px rgba(0, 0, 0, 0.2);
}

.header a {
  font-weight: 600;
  color: $brand_text_color;
  fill: $brand_text_color;
  stroke: $brand_text_color;

  &:hover,
  &:focus,
  &:active {
    background-color: transparent;
    color: $brand_color;
    fill: $brand_color;
    stroke: $brand_color;
    text-decoration: none;
  }
}

.header-logo-wrapper {
  display: flex;
  align-items: center;
}

.header-logo-image {
  display: inline-block;
}

.aoh-logo-fav {
  display: none;
  @media (max-width: $tablet-width) {
    display: inline;
  }
}

.aoh-logo-full {
  display: inline;
  @media (max-width: $tablet-width) {
    display: none;
  }
}

.header-logo-title {
  display: inline-block;
  font-size: 20px;
  border-left: 1px solid $brand_text_color;
  padding-left: 10px;
  margin-left: 10px;
}

.user-nav {
  @include tablet {
    position: relative;
  }
  display: inline-block;
  position: absolute;
  white-space: nowrap;

  a {
    margin: 0 20px 0 0;
  }

  &[aria-expanded='true'] {
    background-color: #fff;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15), 0 4px 10px 0 rgba(0, 0, 0, 0.1);
    border: solid 1px #ddd;
    right: 0;
    left: 0;
    top: $header-height;
    z-index: 1;

    > a {
      display: block;
      margin: 20px;
    }
  }
}

// TODO: Stuff generic font awesome CSS somewhere else
.submit-a-request::before,
.login::before,
.community-link::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  padding-right: 4px;
}

.submit-a-request::before {
  content: '\f1d8';
}

.login::before {
  content: '\f2f6';
}

.community-link::before {
  content: '\f0c0';
}

.nav-wrapper {
  display: flex;
  align-items: center;

  a {
    @include tablet {
      display: inline-block;
    }

    border: 0;
    color: $brand_text_color;
    display: none;
    // margin: 0 20px 0 0;
    width: auto;

    [dir='rtl'] & {
      padding: 0 0 0 20px;
    }

    &:hover,
    &:focus,
    &:active {
      background-color: transparent;
      color: $brand_color;
      text-decoration: none;
    }

    &.login {
      display: inline-block;
      font-size: $font-size-base;
      padding: 0px;
    }
  }

  // TODO: Fix menu for mobile
  .icon-menu {
    @include tablet {
      display: none;
    }
    border: 0;
    color: $link_color;
    cursor: pointer;
    display: none; //
    margin-right: 10px;
    padding: 0;
    width: auto;

    [dir='rtl'] & {
      margin-left: 10px;
      margin-right: 0;
    }

    &:hover,
    &:focus,
    &:active {
      background-color: transparent;
      color: $link_color;
    }
  }
}
