/***** Header *****/
.header {
  position: relative;
  width: 100%;
  align-items: center;
  display: flex;
  height: $header-height;
  justify-content: space-between;
  z-index: 3;
  padding: 0 5%;
  background-color: $background_color;
}

.header a,
.header button {
  font-weight: 600;
  color: $text_color;
  fill: $text_color;
  stroke: $text_color;

  &:hover,
  &:focus,
  &:active {
    background-color: transparent;
    color: $brand_color;
    fill: $brand_color;
    stroke: $brand_color;
    text-decoration: none;
  }
}

.header-logo {
  &-container {
    display: flex;
    align-items: center;
  }

  &-image {
    line-height: 0;

    svg {
      height: 24px;
    }
  }

  &-title {
    display: inline-block;
    font-size: 20px;
    border-left: 1px solid $text_color;
    padding-left: 10px;
    margin-left: 10px;
  }
}

.header-search {
  position: relative;
  max-width: 500px;
  width: 100%;
  background-color: $background_color;
  margin: 0 20px;

  @include mobile {
    display: none;
  }
}

.header-mobile-actions {
  display: flex;
  align-items: center;
  gap: 4px;

  @include tablet {
    display: none;
  }

  button {
    padding: 8px;
    background: transparent;
    border: none;
    color: $text_color;
    cursor: pointer;
  }
}

.mobile-menu {
  display: none;
  overflow-y: auto;
  background-color: $background_color;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  padding: 30px 5%;

  ul {
    li {
      border-radius: $border-radius;
      margin-bottom: 10px;
      padding: 12px 10px;

      button {
        background: transparent;
        margin: 0;
        padding: 0;
        border: none;
      }

      a,
      button {
        color: $text_color;
        font-size: $font-size-bigger;
        font-weight: $font-weight-semibold;

        &:hover,
        &:focus,
        &:active {
          color: $brand_color;
        }
      }
    }
  }
}

.no-scroll {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  position: fixed;
}

.user-nav {
  @include tablet {
    position: relative;
  }
  display: inline-block;
  position: absolute;
  white-space: nowrap;

  &[aria-expanded='true'] {
    background-color: #fff;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15), 0 4px 10px 0 rgba(0, 0, 0, 0.1);
    border: solid 1px #ddd;
    right: 0;
    left: 0;
    top: $header-height;
    z-index: 1;

    > a {
      display: block;
      margin: 20px;
    }
  }
}

.nav-wrapper {
  display: flex;
  align-items: center;

  a {
    @include tablet {
      display: inline-block;
    }

    border: 0;
    display: none;
    margin: 0 20px 0 0;
    width: auto;

    [dir='rtl'] & {
      margin: 0 0 0 20px;
    }

    &:hover,
    &:focus,
    &:active {
      background-color: transparent;
      color: $link_color;
      text-decoration: underline;
    }

    &.sign-in {
      display: inline-block;
      margin: 0;
    }
  }

  @include mobile {
    display: none;
  }
}
