/***** Hero component *****/
.hero {
  background-image: url($homepage_background_image);
  background-position: center;
  background-size: cover;
  height: 500px;
  padding: 0 20px;
  text-align: center;
  width: 100%;
  margin-top: -$header-height;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px -1px rgba(0, 0, 0, 0.2);

  &::before {
    position: absolute;
    max-height: 500px;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 1;
    content: '';
    opacity: 0.75;
    background-color: $text_color;
    background-image: linear-gradient(60deg, darken($brand_color, 30%) 20%, $text_color 70%);
  }

  &-inner {
    @include vertical-align;
    max-width: 800px;
    margin: 0 auto;
    z-index: 2;
    color: white;

    & a {
      color: $brand_color;
      font-weight: $font-weight-semibold;
    }

    &-heading {
      color: $brand_text_color;
      font-weight: $font-weight-semibold;
    }
  }
}
