// Component made for elements that are separated with space between
.page-header {
  @include tablet {
    align-items: baseline;
    flex-direction: row;
  }

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 8px;

  .section-subscribe {
    @include tablet {
      margin-bottom: 0;
    }

    flex-shrink: 0; //Avoid collapsing elements in Safari
    margin: 0px;
  }

  h1 {
    flex-grow: 1;
    margin-bottom: 8px;
    font-weight: $font-weight-semibold;
  }

  &-description {
    @include desktop {
      flex-basis: 100%;
    }
    margin: 0px;
    word-break: break-word;
    padding: 8px 0;
  }

  .icon-lock::before {
    content: '\1F512';
    font-size: 20px;
    position: relative;
    left: -5px;
    vertical-align: baseline;
  }
}
