/***** Search field *****/
.search {
  position: relative;

  input[type='search'] {
    border: 1px solid $border-color;
    border-radius: $border-radius;
    box-sizing: border-box;
    color: $field-text-color;
    height: 40px;
    padding-left: 40px;
    padding-right: 20px;
    -webkit-appearance: none;
    width: 100%;

    [dir='rtl'] & {
      padding-right: 40px;
      padding-left: 20px;
    }

    &:focus {
      color: $field-text-focus-color;
      box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.28), 0 3px 1px -2px rgba(0, 0, 0, 0.12),
        0 1px 5px 0 rgba(0, 0, 0, 0.2);
    }
  }

  &::before {
    @extend .icon;
    @include vertical-align;
    background-color: #fff;
    color: #777;
    content: '\1F50D';
    font-size: 18px;
    position: absolute;
    left: 15px;

    [dir='rtl'] & {
      right: 15px;
      left: auto;
    }
  }

  &-full input[type='search'] {
    border: 1px solid #fff;
    height: 60px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12),
      0 1px 5px 0 rgba(0, 0, 0, 0.2);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  }
}
