/***** User info in header *****/
.user-info {
  display: inline-block;

  .dropdown-toggle::after {
    @include tablet {
      display: inline-block;
    }
    display: none;
  }

  > [role='button'] {
    border: 0;
    color: $brand_text_color;
    min-width: 0;
    padding: 0;
    white-space: nowrap;
    transition: none;

    &::after {
      color: $brand_text_color;
      margin-top: 4px;
      margin-left: -2px;
      font-weight: $font-weight-semibold;
    }

    &:hover,
    &:focus,
    &:hover::after,
    &:focus::after {
      color: $brand_color;
      background-color: transparent;
    }

    [dir='rtl'] & {
      padding-left: 15px;
      padding-right: 0;
    }
  }
}

.dropdown-menu a {
  font-weight: $font-weight-base;
}

// Selector is this strong to override the styles set with ids
#user #user-name {
  @include tablet {
    display: inline-block;
  }
  display: none;
  font-size: $font-size-base;
  font-weight: $font-weight-semibold;

  &:hover {
    text-decoration: none;
  }
}

/***** User avatar *****/
.user-avatar {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
}

.avatar {
  display: inline-block;
  position: relative;

  img {
    height: 40px;
    width: 40px;
  }

  .icon-agent::before {
    background-color: $brand_color;
    border: 2px solid #fff;
    border-radius: 50%;
    bottom: -4px;
    color: $brand_text_color;
    content: '\1F464';
    font-size: 14px;
    height: 14px;
    line-height: 14px;
    position: absolute;
    right: -2px;
    text-align: center;
    width: 14px;
  }
}
