// Variables

// ################################################
// Colors
// ################################################
$brand_color: #122034 !default;
$brand_text_color: #fff !default;
$text_color: #24292e !default;
$link_color: #0366d6 !default;
$background_color: #fff !default;
$brand-yellow-color: #fbc337 !default;
$brand-red-color: #e9495f !default;
$brand-blue-color: #51c2e1 !default;
$border-color: #ddd !default;

$hover-button-color: darken($brand_color, 10%);
$secondary-text-color: lighten($text_color, 20%);

$primary-shade: darken($background_color, 3%);
$secondary-shade: darken($background_color, 5%);

$input-focus-color: #999;

$button-color: $brand_color;

// ################################################
// Breakpoints
// ################################################
$tablet-width: 768px;
$desktop-width: 1024px;
$max-width-container: 1160px;

// ################################################
// Fonts
// ################################################
$heading_font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
  sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol' !default;
$text_font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
  sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol' !default;
$mono_font: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace !default;

$font-weight-light: 300;
$font-weight-base: 400;
$font-weight-semibold: 600;

$font-size-small: 13px;
$font-size-navigation: 14px;
$font-size-base: 16px;
$font-size-bigger: 18px;

// ################################################
// Common values
// ################################################
$border-radius: 4px;
$header-height: 70px;

// ################################################
// CSS assets (necessary for use with scss and zendesk assets)
// ################################################
$assets-dropdown-arrow-svg: '$assets-dropdown-arrow-svg';
$assets-loader-gif: '$assets-loader-gif';
$homepage_background_image: '$homepage_background_image';
$community_image: '$community_image';
$community_background_image: '$community_background_image';
